%h1 All URLs

%table
  %tr
    %th Original URL
    %th Short URL
  - @urls.each do |url|
    %tr
      %td= url.long_url
      %td= link_to short_url(url), short_url(url)
      %td= link_to "Info", info_path(url)
