%h1 All URLs

%table
  %tr
    %th Original URL
    %th Short URL
  - @urls.each do |url|
    %tr
      %td= url.long_url
      %td= link_to url.to_param
      %td= link_to "Info", info_url_path(url)
